<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.se491.app.two2er">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="2TR"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAxZNsS_Bj5yiwYIG-M6RfXEdUcEJWq9AU" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".RegisterActivity"
            android:label="New Account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Utilities.HelpActivity"
            android:label="Help"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="Sign in"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SideMenuActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".MenuActivities.UserProfile.UserProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ChangePasswordActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ForgotPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".UploadImageActivity"></activity>

        <service
            android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <service
            android:name=".Services.LocationRefreshService"
            android:exported="false"
            android:description="@string/location_service_description">

        </service>


    </application>

</manifest>